
@keyframes background-blink  {
    from {
        background-color: rgba(29, 2, 42, 0.9);
    }
    50% {
    background-color: rgba(29, 2, 42, 0.5);
    }
    to {
        background-color: rgba(29, 2, 42, 0);
    }

}
@keyframes animate-button {
    0% {
        background-color: #ffe670;
        color: #7bffec;
    }
    20%{
        background-color: #69ff5f;
        color: #71cfff;
    }
    40%{
        background-color: #ff87b4;
        color: #92a3ff;
    }
    60%{
        background-color: #92a3ff;
        color: #ff87b4;
    }
    80%{
        background-color: #71cfff;
        color: #69ff5f;
    }
    100% {
        background-color: #7bffec;
        color: #ffe670;
    }
}
.but:nth-child(4n-6) {
    animation: background-blink 3s .2s linear infinite;
}
.but:nth-child(3n-4) {
    animation: background-blink 3s .6s linear infinite;
}
.but:nth-child(2n-1) {
    animation: background-blink 3s 1s reverse infinite;
}
.aniBtn {
    animation: background-blink 3s linear infinite;
}
.aniBtn:hover {
    animation: animate-button 3s 0s linear infinite;
    transform: translate3d(8px,20px,8px);
}